.searchBox {
  top: 7px;
  overflow: hidden;
  background-color: #FFF !important;
}

.searchBox > div,
.searchBox input {
  margin-left: 15px
}

.recentSearches {
  width: 100%;
  background-color: #FFF;
}

.hidden {
  display: none !important;
}
