.paper {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0 15px;
  min-width: 200px;
  z-index: 1;
  transition: visibility 0.8s, opacity 0.3s linear;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
