.myLocationButton {
  position: absolute;
  top: 80px;
  right: 15px;
}

.refreshButton {
  position: absolute;
  top: 130px;
  right: 15px;
}

.hideRefreshButton .refreshButton {
  display: none !important;
}
